@inject kuchnia.Service.RecepturaService RecepturaService
@page "/Przepis"
<h3>Przepis</h3>



@if (przepis == null)
{
    <p>Ładowanie danych...</p>
}
else if (przepis.Count == 0)
{
    <p>Brak przepisów do wyświetlenia.</p>
}
else
{
    <ul>
        @foreach (var r in przepis)
        {
            <li>
                <a href="@($"/Przepis/{Uri.EscapeDataString(r.nazwa)}")">@r.nazwa</a>
            </li>
        }
    </ul>
}

@code {
    private List<kuchnia.Service.Receptura> przepis;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            
            string url = "https://raw.githubusercontent.com/bobeer2406/kuchnia/refs/heads/main/kuchnia/data/Przepisy.json";
            przepis = await RecepturaService.PobierzRecepturyAsync(url);
        }
        catch (Exception ex)
        {
            string status = $"Błąd podczas ładowania danych: {ex.Message}";
        }
    }

}