@inject kuchnia.Service.RecepturaService RecepturaService
@page "/Receptura"
<h3>Receptura</h3>



@if (receptury == null)
{
    <p>Ładowanie danych...</p>
}
else if (receptury.Count == 0)
{
    <p>Brak receptur do wyświetlenia.</p>
}
else
{
    <ul>
        @foreach (var r in receptury)
        {
            <li>
                <a href="@($"/receptura/{Uri.EscapeDataString(r.nazwa)}")">@r.nazwa</a>
            </li>
        }
    </ul>
}

@code {
    private List<kuchnia.Service.Receptura> receptury;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            string url = "https://raw.githubusercontent.com/bobeer2406/kuchnia/main/data/Receptury.json";
            receptury = await RecepturaService.PobierzRecepturyAsync(url);
        }
        catch (Exception ex)
        {
            string status = $"Błąd podczas ładowania danych: {ex.Message}";
        }
    }

}